#taname{
    padding-right: 400px;
}
#tana{
    width: 500px;
}
#tades{
    padding-right: 400px;
}
#textdes{
    width: 500px;
}
#crta{
    margin-right: 600px;
    float: right;
}
#upcom{
    margin-left: 80%;
    position: absolute;
    top: 0%;
}
#all{
    position: absolute;
    margin-left: 60%;
    top: 0%;
    width: 150px;
    box-sizing: border-box;
    height: 50px;
    border: 2px black;
}
.main{
    padding-left: 300px;
}

